@import './constants.scss';

.header {
  background-color: $primaryDark;
  position: absolute top 0px;
  height: 50px;
}

.current-page-mobile {
  color: $primaryText;
  font-size: $titleFontSize;
  display: inline-block;
  margin-left: 6px;
}

.burger-button {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    margin: 6px;
    width: 30px;
    right: 20px;
    z-index: 3;
    background-color: $primaryDark;
  }
  
  @mixin bar {
    width: 35px;
    height: 5px;
    background-color: $primaryText;
    margin: 6px 0;
    transition: 0.4s;
  }

  .opened-bar-1, .opened-bar-2, .opened-bar-3 {
    @include bar; 
  }
  
  /* Rotate first bar */
  .closed-bar-1 {
    @include bar;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .closed-bar-2 {
    @include bar;
    opacity: 0;
  }
  
  /* Rotate last bar */
  .closed-bar-3 {
    @include bar;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  @media(min-width: $mobileScreenSize + 1px) {
    .burger-button, .current-page-mobile {
      display: none;
    }
  }

  @media(max-width: $mobileScreenSize) {
    .nav-bar-mobile {
      width: 100%;
      position: absolute;
      z-index: 3;
      background-color: $primaryDark;
      
      .nav-link, .nav-link-selected {
        display: block;
        padding: 12px;

        &:hover {
          color: $primaryLight; 
        }

        &:active {
        margin-top: 0.2%;
        color: $primaryLight;
        }
      }
    }  
  }