@import './Constants.scss';

.burger-button {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    margin: 0px;
    width: 30px;
    right: 53px;
    z-index: 3;
    background-color: $secondaryDark;
  }
  
  @mixin bar {
    width: 35px;
    height: 5px;
    background-color: $primaryText;
    margin: 6px 0;
    transition: 0.4s;
  }

  .opened-bar-1, .opened-bar-2, .opened-bar-1 {
    @include bar; 
  }
  
  /* Rotate first bar */
  .closed-bar-1 {
    @include bar;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .closed-bar-2 {
    @include bar;
    opacity: 0;
  }
  
  /* Rotate last bar */
  .closed-bar-3 {
    @include bar;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  @media(min-width: $tabletScreenSize) {
    .burger-button {
      display: none;
    }
  }

  @media(max-width: $mobileScreenSize) {
    .nav-bar {
      display: none;
    }

    .nav-bar-mobile {
      width: 200px;
      position: absolute;
      z-index: 3;
      background-color: $secondaryDark;
    }

    .nav-link {
      display: block;
      padding: 12px;
    }
  }