@import './constants.scss';


$imageDimensionDesktop:300px;
$imageDimensionMobile:425px;
$cardMargin:20px;


.card-object {
    margin:$cardMargin;
    width:$desktopCardWidth;
    margin-left: auto;
    margin-right: auto;
}

.card-link {
    background-color: $secondaryLight;
    width:100%;
    display: flex;
    flex-direction: row;
    padding:10px;
}

.card-image {
    object-fit: cover;
    height: $imageDimensionDesktop;
    width: $imageDimensionDesktop;
    float:right;
}

.card-text-block{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.card-title {
    background-color: $primaryColor;
    font-size: $titleFontSize;
    color: $primaryText;
    margin-block: 0px;
    padding-left:10px;
    padding-bottom: 10px;
}

.card-body {
    background-color: $primaryLight;
    font-size: $bodyFontSize;
    color: $secondaryText;
    margin-block: 0px;
    margin-left:$cardMargin;
    margin-right:$cardMargin;
    padding-left:10px;
    padding-bottom: 15px;
}

@media (max-width: 430px) {

    .card-object {
        width:100%;
    }
    
    .card-link {
        width: 100%; 
        flex-direction: column;
        padding:0px;
    }

    .card-image {
        height: $imageDimensionMobile - 2*$mobileCardPadding;
        width: $imageDimensionMobile - 2*$mobileCardPadding;
        margin: $mobileCardPadding;
        margin-bottom:0px;
    }

}
