@import './constants.scss';


$imageDimensionDesktop:200px;
$imageDimensionMobile:425px;

.card-link {
    background-color: $secondaryLight;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.card-image {
    object-fit: cover;
    height: 200px;
    width: 200px;
    float:right;
}

.card-text-block{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.card-title {
    background-color: $primaryColor;
    font-size: $titleFontSize;
    color: $primaryText;
    margin-block: 0px;
    padding-left:10px;
    padding-bottom: 10px;
}

.card-body {
    background-color: $primaryLight;
    font-size: $subtitleFontSize;
    color: $secondaryText;
    margin-block: 0px;
    margin-left:20px;
    margin-right:20px;
    padding-left:10px;
    padding-bottom: 15px;
}

@media (max-width: 430px) {
    
    .card-link {
        width: 100%; 
        flex-direction: column;
        align-items: centre; 
    }

    .card-image {
        height: $imageDimensionMobile - 2*$mobileCardPadding;
        width: $imageDimensionMobile - 2*$mobileCardPadding;
        margin: $mobileCardPadding;
        margin-bottom:0px;
    }

}
