@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap%27');

$primaryColor: #c1440d;
$primaryLight:#fa743c;
$primaryDark:#8a0c00;
$secondaryColor: #bdbdbd;
$secondaryLight: #efefef;
$secondaryDark: #8d8d8d;
$primaryText: #ffffff;
$secondaryText: #000000;

$fontFamily: 'IBM Plex Mono', monospace;
$titleFontSize: 32px;
$subtitleFontSize: 24px;
$bodyFontSize: 16px;
$mobileTitleFontSize: 24px;
$mobileSubtitleFontSize: 20px;
$mobileBodyFontSize: 14px;

$bodyWidth: 1024px;
$activeImageBorder: 10px solid $primaryColor;
$cardBoxShadow: 10px 10px $primaryDark;
$titleLineHeight: 40px;
$subtitleLineHeight: 32px;
$bodyLineHeight: 24px;
$mobileTitleLineHeight: 32px;
$mobileSubtitleLineHeight: 24px;
$mobileBodyLineHeight: 20px;

$gutters: 48px;
$mobileGutters: 24px;
$cardPadding: 24px;
$mobileCardPadding: 16px;

$mobileScreenSize: 445px;
$desktopContentWidth:760px;

$CardInformationWidth:50vw;
$timelineCardWidth:500px;
$footerHeight: 6vh;
