@import "./constants.scss";

#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondaryColor;
    font-family: $fontFamily;
}

.home {
    padding-bottom: $footerHeight;
}

#banner-img {
    width: 100%;
    img {
        width: 100%;
        height: 40vh;
    }
}

.cards {
    font-size: $bodyFontSize;
}

.home-card-holder{
    width:$CardInformationWidth;
    min-width: 600px;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width: 430px) {
    .home-card-holder{
        width:100vw;
        margin-left:0px;
        margin-right:0px;
    }
}