@import "./constants.scss";

.banner-image{
    width: $CardInformationWidth;
    min-width:600px;
    margin-left:auto;
    margin-right:auto;
    height: 40vh;
    object-fit: cover;
}

.home {
    padding-bottom: $footerHeight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondaryColor;
    font-family: $fontFamily;
}

.cards {
    font-size: $bodyFontSize;
}

.card-holder{
    width:$CardInformationWidth;
    min-width: 600px;
    margin-left:auto;
    margin-right:auto;
}

.footer-padding{
    padding:10px;
}

@media (max-width: 600px) {
    .home-banner-image{
        min-width:0px;
        width: 100%;
        object-fit: cover;
    }

    .card-holder{
        min-width: 425px;
        width: 425px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media (max-width: 475px) {
    .card-holder{
        min-width: $cardImageDimensionSmallMobile;
        width: $cardImageDimensionSmallMobile;
        margin-left:auto;
        margin-right:auto;
    }
}