@import './constants.scss';


.nav-bar {
    background-color: $primaryDark;
    display: flex;
    justify-content: center;
    height: 7vh;
}

@mixin nav-link-mixin($color: $primaryText) {
    color: $color;
    text-decoration: none;
    padding: 0 3%;
    font-weight: 600;
    align-self: center;

    &:hover {
        color: $primaryLight; 
    }

    &:active {
        margin-top: 0.2%;
        color: $primaryLight;
    }
    .selected {
      color: $primaryLight;  
    }
}

.nav-link {
    @include nav-link-mixin;
}

.nav-link-selected {
    @include nav-link-mixin($primaryLight);
}

@media(max-width: $mobileScreenSize) {
    .nav-bar, .current-page {
      display: none;
    }
}