@import './constants.scss';


#timeline-page {
    background: $secondaryColor;
    font-family: $fontFamily; 
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 4%;
}

#banner-img {
    width: 100%;
    img {
        height: 40vh;
        width: 100%;
    }
}

#main-card {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.information-card-holder-left{
    width: 60vw;
    margin-left:auto;
    margin-right:auto;

    .card-image {
        width: 35%;
        margin-right: 5%;
    }
}

.information-card-holder-right{
    width: 60vw;
    margin-left:auto;
    margin-right:auto;

    .card-image {
        width: 35%;
        margin-left: 5%;
    }
}

@media (max-width: 430px) {
    .information-card-holder{
        width:100vw;
        margin-left:0px;
        margin-right:0px;
    }
} 
