@import "./constants.scss";

#timeline-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $secondaryColor;
    font-family: $fontFamily;
}

#banner-img {
    width: 100%;
    img {
        width: 100%;
        height: 40vh;
    }
}

.cards {
    font-size: $bodyFontSize;
}